
   .red-text{color:red;}
    .pink-text{color: pink;}
    .aqua{color:aqua}
    .green{color:green}

    .xxsmall{font-size:xx-small}
    .xsmall{font-size: x-small}
    .medium{font-size: medium}
    .xlarge{font-size: x-large;}
    .large{font-size: large;}
    .small {font-size:small}
    .xxlarge{font-size: xx-large;}